@page
@model UNA.PraticasProgramacao.Web.Pages.Produtos.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Produtos.IdProduto" />
            <div class="form-group">
                <label asp-for="Produtos.CodigoProduto" class="control-label"></label>
                <input asp-for="Produtos.CodigoProduto" class="form-control" />
                <span asp-validation-for="Produtos.CodigoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.DescricaoProduto" class="control-label"></label>
                <input asp-for="Produtos.DescricaoProduto" class="form-control" />
                <span asp-validation-for="Produtos.DescricaoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.Ncm" class="control-label"></label>
                <input asp-for="Produtos.Ncm" class="form-control" />
                <span asp-validation-for="Produtos.Ncm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.IdUnidadeMedida" class="control-label"></label>
                <input asp-for="Produtos.IdUnidadeMedida" class="form-control" />
                <span asp-validation-for="Produtos.IdUnidadeMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.IdCategoria" class="control-label"></label>
                <input asp-for="Produtos.IdCategoria" class="form-control" />
                <span asp-validation-for="Produtos.IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
