@page
@model UNA.PraticasProgramacao.Web.Pages.CentroCustos.DeleteModel

@{
    ViewData["Title"] = "Remover Centro de Custo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>Tem certeza que deseja excluir o Centro selecionado?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CentroCusto.NomeCentroCusto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CentroCusto.NomeCentroCusto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CentroCusto.Responsavel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CentroCusto.Responsavel)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CentroCusto.IdCentroCusto" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar à lista</a>
    </form>
</div>
