@page
@model UNA.PraticasProgramacao.Web.Pages.Movimentos.ItmMovimento.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>ItemMovimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemMovimento.IdItemMovimento" />
            <div class="form-group">
                <label asp-for="ItemMovimento.IdMovimento" class="control-label"></label>
                <select asp-for="ItemMovimento.IdMovimento" class="form-control" asp-items="ViewBag.IdMovimento"></select>
                <span asp-validation-for="ItemMovimento.IdMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemMovimento.IdProduto" class="control-label"></label>
                <select asp-for="ItemMovimento.IdProduto" class="form-control" asp-items="ViewBag.IdProduto"></select>
                <span asp-validation-for="ItemMovimento.IdProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemMovimento.Quantidade" class="control-label"></label>
                <input asp-for="ItemMovimento.Quantidade" class="form-control" />
                <span asp-validation-for="ItemMovimento.Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemMovimento.ValorUnitario" class="control-label"></label>
                <input asp-for="ItemMovimento.ValorUnitario" class="form-control" />
                <span asp-validation-for="ItemMovimento.ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemMovimento.ValorTotal" class="control-label"></label>
                <input asp-for="ItemMovimento.ValorTotal" class="form-control" />
                <span asp-validation-for="ItemMovimento.ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemMovimento.ValorDesconto" class="control-label"></label>
                <input asp-for="ItemMovimento.ValorDesconto" class="form-control" />
                <span asp-validation-for="ItemMovimento.ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
