@*
    UNA - Tecnologia em Analise e Desenvolvimento de sistemas
    Disciplina:Práticas de Programação
    Professor: Luiz Eduardo Carneiro
    Período: 2º semestre/2019
    Autores: Gercy Campos
    Informações: Página para edição de uma movimentacao financeira
*@


@page
@model UNA.PraticasProgramacao.Web.Pages.LancFinanceiro.EditModel

@{
    ViewData["Title"] = "Edição";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>Edição de movimentação financeira</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LancamentoFinanceiro.IdLancamentoFinanceiro" />
            <input type="hidden" asp-for="LancamentoFinanceiro.UserId" />
            <input type="hidden" asp-for="LancamentoFinanceiro.DataCriacao" />
            <input type="hidden" asp-for="LancamentoFinanceiro.NumeroLancamento" />
            <div class="form-group">
                <label asp-for="LancamentoFinanceiro.DataVencimento" class="control-label"></label>
                <input asp-for="LancamentoFinanceiro.DataVencimento" class="form-control" type="date" />
                <span asp-validation-for="LancamentoFinanceiro.DataVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancamentoFinanceiro.IdCentroCusto" class="control-label"></label>
                <select asp-for="LancamentoFinanceiro.IdCentroCusto" class="form-control" asp-items="ViewBag.IdCentroCusto"></select>
            </div>
            <div class="form-group">
                <label asp-for="LancamentoFinanceiro.TipoLancamento" class="control-label"></label>
                <select asp-for="LancamentoFinanceiro.TipoLancamento" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(UNA.PraticasProgramacao.Core.Entidades.Entidades.EnumTipoLancamento))"></select>
            </div>
            <div class="form-group">
                <label asp-for="LancamentoFinanceiro.HistoricoLancamento" class="control-label"></label>
                <input asp-for="LancamentoFinanceiro.HistoricoLancamento" class="form-control" />
                <span asp-validation-for="LancamentoFinanceiro.HistoricoLancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancamentoFinanceiro.ValorLancamento" class="control-label"></label>
                <input asp-for="LancamentoFinanceiro.ValorLancamentoStr" class="form-control" value="@Model.LancamentoFinanceiro.ValorLancamento" />
                <span asp-validation-for="LancamentoFinanceiro.ValorLancamentoStr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancamentoFinanceiro.IdContaBancaria" class="control-label"></label>
                <select asp-for="LancamentoFinanceiro.IdContaBancaria" class="form-control" asp-items="ViewBag.IdContaBancaria"></select>
                <span asp-validation-for="LancamentoFinanceiro.IdContaBancaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LancamentoFinanceiro.DataPagamento" class="control-label"></label>
                <input asp-for="LancamentoFinanceiro.DataPagamento" class="form-control" type="date" />
                <span asp-validation-for="LancamentoFinanceiro.DataPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
