@page
@model UNA.PraticasProgramacao.Web.Pages.ContasBancarias.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Cadastro de nova conta bancária</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContaBancaria.Banco" class="control-label"></label>
                <input asp-for="ContaBancaria.Banco" class="form-control" />
                <span asp-validation-for="ContaBancaria.Banco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaBancaria.Agencia" class="control-label"></label>
                <input asp-for="ContaBancaria.Agencia" class="form-control" />
                <span asp-validation-for="ContaBancaria.Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaBancaria.NumeroConta" class="control-label"></label>
                <input asp-for="ContaBancaria.NumeroConta" class="form-control" />
                <span asp-validation-for="ContaBancaria.NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaBancaria.SaldoInicial" class="control-label"></label>
                <input asp-for="ContaBancaria.SaldoInicial" class="form-control" />
                <span asp-validation-for="ContaBancaria.SaldoInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
