@*
    UNA - Tecnologia em Analise e Desenvolvimento de sistemas
    Disciplina:Práticas de Programação
    Professor: Luiz Eduardo Carneiro
    Período: 2º semestre/2019
    Autores: Gercy Campos
    Informações: Página para edição de uma conta bancaria
*@


@page
@model UNA.PraticasProgramacao.Web.Pages.ContasBancarias.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Edição de Conta Bancária</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContaBancaria.IdContaBancaria" />
            <input type="hidden" asp-for="ContaBancaria.UserId" />
            <div class="form-group">
                <label asp-for="ContaBancaria.Banco" class="control-label"></label>
                <input asp-for="ContaBancaria.Banco" class="form-control" />
                <span asp-validation-for="ContaBancaria.Banco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaBancaria.Agencia" class="control-label"></label>
                <input asp-for="ContaBancaria.Agencia" class="form-control" />
                <span asp-validation-for="ContaBancaria.Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaBancaria.NumeroConta" class="control-label"></label>
                <input asp-for="ContaBancaria.NumeroConta" class="form-control" />
                <span asp-validation-for="ContaBancaria.NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaBancaria.SaldoInicial" class="control-label"></label>
                <input asp-for="ContaBancaria.SaldoInicial" class="form-control" asp- />
                <span asp-validation-for="ContaBancaria.SaldoInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
