@page

@{
    ViewData["Title"] = "Initial";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>ADS UNA - Práticas de Programação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Faça login para visualizar a aplicação</h4>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
