@*
    UNA - Tecnologia em Analise e Desenvolvimento de sistemas
    Disciplina:Práticas de Programação
    Professor: Luiz Eduardo Carneiro
    Período: 2º semestre/2019
    Autores: Gercy Campos
    Informações: Página inicial da aplicação que é exibida quando não existe usuário logado no sistema
*@

@page
@{
    ViewData["Title"] = "UNA ADS - Sistema de Controle Financeiro Pessoal";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>ADS UNA - Práticas de Programação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Faça login para visualizar a aplicação</h4>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
